/* .homediv{
    color: rgb(32, 72, 72);
    background-color: rgb(0, 0, 0);
    text-align: center;
    height: 400px;
    width: 850px;
    border: 5px dashed white;
    margin: 80px auto;
}
.main_div{
    text-align: center;
}
#info{
    font-size: 18px;
    padding: 20px;
    color: rgb(142, 142, 198);
} */